<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <!-- Framework CSS -->
	<link rel="stylesheet" href="blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="blueprint/print.css" type="text/css" media="print" />
  <!--[if IE]><link rel="stylesheet" href="blueprint/lib/ie.css" type="text/css" media="screen, projection"><![endif]-->

	<!-- Import fancy-type plugin for the sample section. -->
	<link rel="stylesheet" href="blueprint/plugins/fancy-type/fancy-type.css" type="text/css" media="screen, projection" />

	<!-- Show the grid and baseline -->
	<style type="text/css">
	/*<![CDATA[*/
			/*.container { background: url('blueprint/lib/grid.png'); }*/
	/*]]>*/
	</style>
</head>

<body>

	<div class="container">
		<h1>{{ page.title }}</h1>
		<hr />
		<h2 class="alt">Ben Smith's personal webspite</h2>
		<hr />

		<div class="column span-7 colborder">
		  <h6>Work</h6>
          <p>Co-Founder / Partner / CTO at <a href="http://www.inreachventures.com">InReach Ventures</a>. Previously UK Engineering Director at <a href="http://www.yammer.com">Yammer</a>, Head of Technology for <a href="http://top10.com">Top10.com</a>, CTO at <a href="http://metabroadcast.com">MetaBroadcast</a> and an Engineering Lead at the <a href="http://bbc.co.uk">BBC</a>.</p>
		</div>

		<div class="column span-7 colborder">
		  <h3>Blog</h3>
		  <p>I've removed the blog. It was lame.</p>
		</div>

		<div class="column span-8 last">
		  <h6>Music</h6>
          <ul>
            <li><a href="http://males.bandcamp.com">The Males</a></li>
            <li><a href="http://www.myspace.com/twiththequeen">Tea with the Queen</a></li>
            <li><a href="http://www.myspace.com/stopheseltine">Heseltine</a></li>
            <li><a href="http://www.myspace.com/bensmithsmusic" rel="me">Ben Smith's Music</a></li>
          </ul>
		</div>
		<hr />

		<div class="column span-15 prepend-1 colborder">
      {{ content }}
    </div>

  		<div class="column span-7 last">
  			<p><img src="me.jpg" class="" alt="test" /></p>
              <hr />
              <h6>Web</h6>
              <ul>
                  <li><a href="http://www.flickr.com/photos/thesmith/" rel="me">Flickr</a></li>
                  <li><a href="http://twitter.com/thesmith" rel="me">Twitter</a></li>
                  <li><a href="http://github.com/thesmith" rel="me">github</a></li>
              </ul>
  		</div>
  </div>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
    _uacct = "UA-2902608-1";
    urchinTracker();
</script>
</body>
</html>



